In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('online-retail.csv')

In [3]:
df.shape

(541909, 8)

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
df = df.loc[df['Quantity'] > 0]

In [8]:
df = df[pd.notnull(df['CustomerID'])]

In [9]:
df['Sales'] = df['Quantity'] * df['UnitPrice']

In [10]:
customer_df = df.groupby('CustomerID').agg({"Sales": 'sum', "InvoiceNo": [lambda x: x.nunique()]})

In [13]:
normalized_df = (rank_df - rank_df.mean()) / rank_df.std()
normalized_df.head(10)

               Sales InvoiceNo
                 sum  <lambda>
CustomerID
12346.0     1.724268 -1.731452
12347.0     1.464031  1.173460
12348.0     0.929189  0.533246
12349.0     0.906837 -1.730654
12350.0    -0.750376 -1.729856
12352.0     1.171863  1.287613
12353.0    -1.638853 -1.729057
12354.0     0.486946 -1.728259
12355.0    -0.407119 -1.727461
12356.0     1.252489  0.127724

In [12]:
rank_df = customer_df.rank(method = 'first')
rank_df.head(10)

             Sales InvoiceNo
               sum  <lambda>
CustomerID
12346.0     4330.0       1.0
12347.0     4004.0    3640.0
12348.0     3334.0    2838.0
12349.0     3306.0       2.0
12350.0     1230.0       3.0
12352.0     3638.0    3783.0
12353.0      117.0       4.0
12354.0     2780.0       5.0
12355.0     1660.0       6.0
12356.0     3739.0    2330.0